
@media(max-width: 1440px){

    .header__container{
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }

    .nav__list{
        gap: 94px;
    }

    .gallery__wrap {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        row-gap: 30px;
    }


}
@media(max-width: 1024px){

    .container{
        padding: 0 46px;
    }

    .header {
        padding: 31px 0;
    }

    .hero {
        padding-top: 102px;
        padding-bottom: 104px;
    }

    .header__container{
        row-gap: 25px;
    }

    .logo {
        -webkit-box-flex: 123;
            -ms-flex-positive: 123;
                flex-grow: 123;
        -webkit-box-ordinal-group: 1;
            -ms-flex-order: 0;
                order: 0;
    }

    .nav {
        -webkit-box-flex: 0.5;
            -ms-flex-positive: 0.5;
                flex-grow: 0.5;
        -webkit-box-ordinal-group: 4;
            -ms-flex-order: 3;
                order: 3;
    }

    .content-container{
        max-width: 670px;
    }

    .contant-descr {
        margin-bottom: 130px;
    }

    .about {
        margin-bottom: 70px;
    }

    .gallery{
        padding-bottom: 86px;
    }

    .gallery__wrap {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .gallery__title {
        margin-bottom: 15px;
    }

    .catalog__title {
        margin-bottom: 17px;
    }

    .catalog-descr{
        max-width: 925px;
    }

    .catalog__list{
        gap: 51px
    }

    .catalog__item {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        width: 925px;
        gap: 28px;
    }

    .content__biografia {
        max-width: 920px;
    }

    .section__descr {
        max-width: 925px;
    }

    .content__title{
        letter-spacing: -0.9px;
    }

    .content-form {
        -ms-flex-preferred-size: 0;
            flex-basis: 0;
    }

    .item-foto {
        width: 925px;
    }

    .evants__content{
        padding: 14px 28px 49px 37px;
    }

    .events__title{
        margin-bottom: 20px;
    }

    .events__afisha {
        text-align: end;
        -ms-flex-item-align: end;
            align-self: end;
            line-height: 130%;
        margin-bottom: 4px;    
    }

    .card__title {
        margin-bottom: 5px;
        letter-spacing: -0.9px;
        line-height: 33px;
    }

    .evants__descr{
        margin-bottom: 20px;
    }
    .project-descr {
        max-width: 925px;
    }

    .catalog{
        margin-bottom: 85px;
    }

    :root{
        --gap-events: 27px;
    }


    .project__title{
        margin-bottom: 22px;
    }

    .project-descr{
        margin-bottom: 21px;
    }
    
    .partner-wrapp {
        gap: 29px;
    }

    .shourum {
        padding-top: 45px;
        padding-bottom: 42px;
    }

    .left-title {
        margin-bottom: 4px;
    }

    .shourum-container {
        gap: 25px;
    }

    .input-center {
        padding: 15px 27px;
    }

    .btn-input {
        padding: 13px 40px;
    }

    .left-address {
        letter-spacing: -0.9px;
    }
    
    .footer{
        padding: 40px 0;
    }

    .social-link > svg{
        width: 60px;
        height: 60px;
    }

}

@media(max-width: 992px){
    .nav__list {
        gap: 84px;
    }

    .section__descr {
        max-width: 860px;
    }


    .catalog-descr {
        max-width: 860px;
    }

    .catalog__item {
        width: 860px;
    }

    .project-descr {
        max-width: 860px;
    }

}

@media(max-width: 768px){
    .header {
        padding: 28px 0;
    }

    .nav__list {
        gap: 43px;
    }

    .hero {
        padding-top: 89px;
        padding-bottom: 86px;
    }

    .content-container {
        max-width: 600px;
    }

    .contant-descr {
        max-width: 557px;
        margin-bottom: 130px;
    }

    .section__descr {
        max-width: 666px;
    }

    .gallery__title {
        margin-bottom: 20px;
    }

    .gallery__list {
        gap: 34px;
    }

    .item__photo{
           height: 200px;
           width: 200px;
    }

    .gallery {
        padding-bottom: 79px;
    }

    .catalog__title {
        margin-bottom: 20px;
    }

    .catalog__item {
        width: 668px;
    }

    .catalog-descr {
        margin-bottom: 38px;
    }

    .content__data {
        margin-bottom: 6px;
    }

    .events__list {
        flex-direction: column;
        --offset: 0;
    }

    .card__title {
        max-width: 486px;
        margin-bottom: 14px;
    }

    .evants__descr {
        margin-bottom: 52px;
        word-spacing: -0.9px;
    }

    .project__title {
        margin-bottom: 24px;
    }

    .project-descr {
        max-width: 658px;
        margin-bottom: 28px;
    }

    .partner-wrapp {
        margin-top: 29px;
    }

    .project {
        margin-bottom: 77px;
    }

    .input-center {
        padding-right: 80px;
        padding-left: 20px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .shourum-container {
        gap: 26px;
    }

    .shourum_form {
        flex-wrap: wrap;
        row-gap: 8px;
    }

    .btn-input {
        padding: 13px 31px;
    }

    

}